.main {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.button__container  {
    /* background: black; */
    border: 1rem solid black;
    padding: 2rem;
    text-align: center;
    margin: 1rem;
    font-size: 1.4rem;
    /* color: white; */
    transition : .1s ease;
}
.button__container:hover {
    border: 1.1rem solid black;
}
/*
.playing{
    transform : scale(1.1);
    border-color : green;
    box-shadow : 0 0 1rem green;
} */

